section.crear {
	margin: 40px 0;
}
section.crear > ul {
	padding: 0;
	margin: 0;
}
section.crear > ul > li {
	background-color: var(--bloque);
	list-style: none;
	padding: 0;
	margin: 0;
	height: 50px;
	display: flex;
}
section.crear > ul > li > input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0 10px 0 20px;
	color: white;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: 0.05em;
}
section.crear > ul > li > input::placeholder {
	font-family: var(--font);
	color: var(--secundario);
}
section.crear > ul > li > button {
	width: 60px;
	background-color: #4e7ad7;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 2em;
	font-weight: 100;
}