@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--font: 'Raleway', sans-serif !important;

	/* DARK MODE */
	--Dbody: #181824;
	--Dsecundario: #5e5f7b;
	--Dbloque: #25273c;
	--DbloqueBordeBottom: #333;
	--Dboton: #4e7ad7;
	/* LIGHT MODE */
	--Lbody: #ddd;
	--Lsecundario: #bbb;
	--Lbloque: whitesmoke;
	--LbloqueBordeBottom: #bbb;
	--Lboton: #1a59df;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font);
}
