main#body {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: absolute;
}
main#body > img {
	position: absolute;
	top: 0;
	z-index: 0;
}
main#body > span.imagenheader {
	background: url("../../public/assets/images/header.jpg");
	width: 100%;
	height: 30%;
	display: block;
	position: absolute;
}
main#body > section {
	width: 80%;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}