nav.menu {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	text-transform: capitalize;
}
nav.menu > ul {
	padding: 0;
	display: flex;
	gap: 10px;
}
nav.menu > ul > li {
	list-style: none;
}