section.todos > ul {
	padding: 0;
	margin: 0;
}
section.todos > ul > li {
	list-style: none;
	padding: 0 10px;
	margin: 0;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
}
section.todos > ul > li[data-activo=false] {
	text-decoration: line-through;
	text-decoration-color: #ccc;
	/* text-decoration-style: wavy; */
}
section.todos > ul > li > img.cerrar {
	display: none;
}
section.todos > ul > li:hover > img.cerrar {
	display: flex;
	cursor: pointer;
	padding: 10px 5px 10px 20px;
	opacity: .7;
}
section.todos > ul > li > label {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
section.todos > ul > li > label > input {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0 10px;
	margin-right: 15px;
	width: 30px;
	border-radius: 50%;
	height: 30px;
}
section.todos > ul > li > input::placeholder {
	font-family: var(--font);
}